body, html, nav, header, footer, .row{
    margin:0 !important;
    padding:0 !important;
    
}
.bg-black{
    background-color:#07070D;
}
.logo > img{
    width:20%
}

.social-media > ul > li{
    list-style: none;
    display: inline;
    
    font-size:20px;
}
a, .nav-link, .social-media > ul > li >a, p, h1{
    color:rgb(8, 56, 97);
}
h2, h3{
    color: #D9310B;
}
header{
    border-bottom: 3px solid #D9310B
}
footer{
    border-top: 3px solid #D9310B;
}
section{
    padding: 15px;
}
.hero{
    background-image: url(../images/corner-table-1168607_1280.jpg);
    height:400px;
    background-position: bottom;
    background-size: cover;
}
.card{
    width: 30rem;
}
.jumbotron > h1{
    color:#07070D;
    text-align: center;
    
}
.menu{
    background-color: #739CBF
}
.hero-title, .carrousel-caption{
    background-color: rgb(255, 255, 255, 0.5);
    position: relative;
    top: 100px;
}
.img-thumbnail:hover{
    opacity: 0.5;
}
#name{
    font-size: 24px;
    color:#739CBF;
}
